section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 2px 1px grey;
    border: 1px outset #002642;
    margin: 0 auto;
    width: 96.5%;    
    margin-top: 20px;  
    /* background-image: linear-gradient(rgba(218,218,218,1),rgba(218,218,218,0));    */
    background-image: linear-gradient(#EFEFEF, #EFEFEF, white);     
}

img {
    max-width: 96.5         ;
}

.wordscol,
.imagecol {
    width: 40%;
    padding: 8px;    
    /* height: auto; */
}

.wordscol {
    margin-bottom: auto;
    flex: 1;
}