main {
    display: grid;
    grid-template-columns: 1fr;
}


@media only screen and (min-width: 37.5em) {

    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

section {
    background-image: linear-gradient(#EFEFEF, white);
    box-shadow: 2px 2px 1px grey;
    border: 1px outset #002642;
    margin: 8px;
}

main section h3 {
    margin-top: auto;
    background-color: #002642;
    color: #99F6FF;
    padding: 3px;

}

main section div {

    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}