body {
    font-family: 'Roboto', Verdana, Helvetica, Arial;
    max-width: 960px;
    margin: 0 auto;
    padding: 4px;
}

hr {
    margin-top: -15px;
    border-top: 2px solid #DD2559;
}

img {
    max-width: 100%;
}

main {
    padding: 10px;
}

a {
    color: black;
    font-weight: bold;
}

footer {
    margin: 5px auto;
    max-width: 960px;
    padding: 5px;
    /* background-color: #002642; */
    background-image: linear-gradient(to right, #586768, #EFF0ED, #7EB4D3);
    /* good one here !!background-image: linear-gradient( #F9F9F8, #F6F6F5 , #F1F2F0, #DADBD8); */
    color: #002642;
    text-align: center;
    /* border-radius: 15px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lastupdated {
    color: #002642;
    font-size: small;
}

footer a {
    color: #002642;
    font-weight: normal;
}

header {
    margin: 5px auto;
    max-width: 960px;
    /* background-color: #002642; */
    /* background-color:#dce0d9; */

    /* background-image: linear-gradient(to right,#dce0d9, #596869); */
    /* background-image: linear-gradient(#dce0d9, # ); */
    /* background-image: linear-gradient(to right, #596869,#596869,#596869,#dce0d9,#dce0d9,#dce0d9 ); */
    /* background-image: linear-gradient(to right, #8C8F8B,#A6C2C9); */
    /* background-image: linear-gradient(to right, #8C8F8B,#dce0d9 ); */
    /* background-image: linear-gradient(to right, #8C8F8B, #EFF0ED); */
    /* background-image: linear-gradient(to right, #dce0d9, #EFF0ED); */
    /* background-image: linear-gradient(to right, #586768, #EFF0ED, #7EB4D3); */
    background-image: linear-gradient(to right, #586768, #EFF0ED, #7EB4D3);
    /* background-image: linear-gradient( #7EB4D3,#dce0d9,#002642,#586768 ); */
    /* background-image: linear-gradient( #7EB4D3,  #dce0d9,#586768 ); */
    /* background-image: linear-gradient(to right, #F9F9F8, #F6F6F5 ); */
    /* good one here!  background-image: linear-gradient(   #F9F9F8, #F6F6F5 , #F1F2F0, #DADBD8); */
    /* background-image: linear-gradient(to right, #586768, #7EB4D3); */
    color: #99F6FF;
    padding: 4px;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

/* ul {
    counter-reset: li-count;
  }
/*    */
/* li {
    counter-increment: li-count;
    padding-bottom: 5px;
  }  */

h1,
h2 {
    font-family: 'Merriweather', Verdana, Helvetica, Arial;
}
.headingcentered{
    text-align: center;
}
/* section {
    padding: 10px;
    box-shadow: 2px 2px 1px grey;
    border: 1px outset #002642;

} */

nav {
    margin-top:-10px;
    /* background-color: #45364b; */
    
    background-image: linear-gradient(to right, #586768, #EFF0ED, #7EB4D3);
    /* background-image: linear-gradient(#7EB4D3, #586768, #EFF0ED); */
    /* background-image: linear-gradient(#586768, #EFF0ED); */
    /* background-image: linear-gradient(to right, #586768, #7EB4D3); */
    text-align: center;
    /* box-shadow: 0 2px 15px gray; */
    opacity: 85%;
}


.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* text-align: center; */
    /* border-bottom-style: outset; */
    /* border-top-style: outset; */
}

.navigation a {
    display: block;
    color: #002642;
    
    /* color: #dce0d9; */
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    /* border-style: solid; */
    border-top-style: solid;
    /* border-style: outset; */
    border-width: 1px;
    border-color: #dce0d9;
    margin-bottom: -5px;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;
    flex: 1 1 100%;
}

.responsive li {
    display: block;
}

nav a:hover {
    /* color: #45364b; */
    /* color: #000000; */
    /* background-color: #dce0d9; */
    /* border-style: solid;
    border-width: 1px;
    border-color: #002642; */
    /* opacity: 40%; */
    text-shadow: -1px 1px 2px #002642, 1px 1px 2px #002642,1px -1px 0 #002642,-1px -1px 0 #002642;
    color: #ffffff;
    /* text-shadow: -1px -1px 1px #000000; */
    /* , 0 0 1em #586768, 0 0 0.2em black; */
    /* text-decoration-line: underline;
    text-decoration-color: black; */
    font-weight: normal;
    
}

a.active:hover {
    text-shadow: -1px 1px 2px #ffffff, 1px 1px 2px #ffffff,1px -1px 0 #ffffff,-1px -1px 0 #ffffff;
    color: #002642;
    font-weight: normal;
}

a.active {
    text-shadow: -1px 1px 2px #ffffff, 1px 1px 2px #ffffff,1px -1px 0 #ffffff,-1px -1px 0 #ffffff;
    color: #002642;
    font-weight: normal;
}

.logo {
    border-radius: 50px;
    width: 115px;
    height: 107px;
    max-width: 100%;
    /* background-image: linear-gradient(to right, #685762,#dce0d9); */
    background-image: linear-gradient(to right, #002642,#dce0d9, #7EB4D3);
    /* background-image: linear-gradient(to right,#002642#002642,#dce0d9, #7EB4D3); */
    /* good one here!! background-image: linear-gradient( #7EB4D3,#dce0d9,#002642 ); */
    /* background-image: linear-gradient(to right, #7EB4D3, #dce0d9); */
    opacity: 60%;

}

.logotext {
    /* text-shadow: 2px 2px #002642; */
    /* text-shadow: -1px 1px 2px #dce0d9,
				  1px 1px 2px #dce0d9,
				  1px -1px 0 #dce0d9,
                  -1px -1px 0 #dce0d9;     */
    text-shadow: -1px 1px 2px #ffffff,
        1px 1px 2px #ffffff,
        1px -1px 0 #ffffff,
        -1px -1px 0 #ffffff;
    font-size: 3em;
    font-family: Merryweather;
    /* color:#45364b; */
    color: #002642;
    opacity: 90%;
    font-kerning: normal;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .color-scheme {
    min-width: 100%;
} */

/* .primary{
background-color: #293132;
color: #dce0d9;
} */

.primary {
    background-color: #002642;
    color: #dce0d9;
}

.secondary {
    background-color: #45364b;
    color: #dce0d9;
}

.accent1 {
    background-color: #596869;
    color: #dce0d9;
}

.accent2 {
    background-color: #dce0d9;
    color: #002642;
}

.accent3 {
    background-color: #685762;
    color: #dce0d9;
}



/*large*/
/* @media only screen and (min-width: 60em) {
    .navigation a {
        font-size: 1.1rem;               
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    article:nth-child(3) {
        grid-column: span 1;
    }

    .navigation{
        display: flex;                
    }

    .navigation li{
        display: block;
        flex: 1 1 100%;                
    }
    
    .navigation li:first-child {
        display: none;
    } 
    body{
        background-color:red;
    }
}*/