body {
    font-family: 'Ubuntu', sans-serif;    
    margin: 0 auto;
    padding: 4px;
    font-size: 18px;
}
  
table {
  border-collapse: collapse;  
  letter-spacing: 1px;  
  box-shadow: 10px 10px 10px #628ca6;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px;
  text-align: center;
}

thead th {
  background-color: #7fb9c2;
  font-weight: bold;
}
thead tr:first-child th{
  font-size: 32px;
}

thead td{
  background-color: #628ca6;
  color: white;
  font-size:20px;
}

tbody tr:nth-child(even) td {
  background-color: #e7ffed;
}

tbody tr:nth-child(odd) td {
  background-color:#e7f0ed;
}

tbody tr:nth-child(4) td:nth-child(3){
  background-color: #628ca6;
  color: white;
}

tbody tr:nth-child(5) td:nth-child(1){
 font-style: italic;
}

tfoot tr td{
  background-color: #7fb9c2;
  font-size: 12px;
}
