/*large*/
@media only screen and (min-width: 60em) {
    .navigation a {
        font-size: 1.1rem;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    article:nth-child(3) {
        grid-column: span 1;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li:first-child {
        display: none;
    }
    .logotext {        
        font-size: 3.5em;    
    }

    .gallery-grid figure:hover{
        box-shadow: 10px 10px 20px black;
    }

    form label.sbs{
        padding: .4rem 0;
    }

    .town_cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        /* margin: 10px; */
        /* background-color: chartreuse; */
    }    
    .town {     
        display: block;
        background-image: linear-gradient(#EFF0ED, white);
        box-shadow: 2px 2px 1px grey;
        text-align: center;
        padding: 5px;
        
    }
    /* .town:nth-child(odd) {
        background-color: green;
    } */
}