section {
    padding: 10px;
    box-shadow: 2px 2px 1px grey;
    border: 1px outset #002642;
    /* background-image: linear-gradient(#EFEFEF, #EFEFEF, white); */
}

nav {
    background-color: #002642;
    text-align: center;
    /* box-shadow: 0 2px 15px gray; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #99F6FF;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    border-style: solid;
    border-width: 1px;
    border-color: #99F6FF;
    margin-bottom: -5px;
}

nav a:hover {
    /* background-image: linear-gradient( #002642,#0b2e47, #204966, #60829b);
    background-image: lin; */
    color: #002642;
    background-color: #99F6FF;
    border-style: solid;
    border-width: 1px;
    border-color: #002642;
    /* max-width: 100%;
    max-height: 100%; */
}

.active {
    color: #EFEFEF;
}


/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {

    /* Horizontal Menu Examples */
    /* Flex *********************/
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}


@media only screen and (min-width: 60em) {
    nav a {
        font-size: 1.1rem;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    article:nth-child(3) {
        grid-column: span 1;
    }
}

.logobackground1 {
    background-color: #002642;
    /* background-image: linear-gradient(to right,#002642, #596869, #dce0d9); */
    width: 115px;
    font-family: Merryweather;
    text-align: center;
    vertical-align: middle;
}

.logobackground2 {
    background-color: #45364b;
    width: 115px;
    font-family: Merryweather;
    text-align: center;
    vertical-align: middle;
}

.logobackground3 {
    background-color: #596869;
    width: 115px;
    font-family: Merryweather;
    text-align: center;
    vertical-align: middle;
}

.logo {
    /* opacity: 60%; */
    /* width:460px;
    widows: 428px; */
    width: 115px;
    height: 107px;
    max-width: 100%;

}

.color-scheme {
    min-width: 100%;
}

/* .primary{
background-color: #293132;
color: #dce0d9;
} */

.primary {
    background-color: #002642;
    color: #dce0d9;
}

.secondary {
    background-color: #45364b;
    color: #dce0d9;
}

.accent1 {
    background-color: #596869;
    color: #dce0d9;
}

.accent2 {
    background-color: #dce0d9;
    color: #002642;
}

.accent3 {
    background-color: #685762;
    color: #dce0d9;
}