/* Tablet Views ******************************/
@media only screen and (min-width: 32.5em) {

    .navigation li {
        display: none;    
    }
    
    .navigation li:first-child {
        display: block;
        flex: 1 1 100%;
    }

    .responsive li{
        display: block;
    }
    .logotext {        
        font-size: 3.3em;    
    }

    #fivedayforecast{
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        max-width: 80%;
        justify-content: center;
        margin-left: 10%;

    }

    #fivedayforecast div {
        width: 20%;            
        text-align: center;
        border: 1px solid #586768;            
        margin-left: 5px;
        box-shadow: 2px 2px 1px grey;

    }
    #fivedayforecast h3 {
        margin-top: auto;
        background-color: #EFF0ED;        
        border-bottom: 1px solid #586768;
        padding: 3px;        
    }

    .article{
        display: grid;    
        grid-template-columns: 1fr 1fr;       
    }

    .contactmap{
        display:block;
    }
    #contactinfo{
        display: grid;    
        grid-template-columns: 1fr 1fr;       
    }
    .contactdetails{
        margin-top: 10%;
                
    }
    .town_cards {
        display: block;       
    }
    .town{      
        display: flex;
	    flex-direction: row;        
        justify-content: space-evenly;
        background-image: linear-gradient(#EFF0ED, white);
        box-shadow: 2px 2px 1px grey;
    }

    .town div{

        align-content: center;        
        width: 100%;        
    }

    .town:nth-child(even) {
        flex-direction: row-reverse;        
    }

}